<div class="sidebar" [ngClass]="{ open: isSidebarOpen }" id="sidebar">
  <div class="sidebar-header">
    <img
      src="assets/RecreatedFIGMAlogo.PNG"
      alt="Company Icon"
      class="company-icon"
    />
    <button class="close-btn" (click)="closeSidebar()">☰</button>
  </div>
  <ul>
    <li>
      <a (click)="goToDashboard()" class="btn">Dashboard</a>
    </li>
    <li class="dropdown">
      <a class="btn">ASSETS</a>

      <ul class="dropdown-menu">
        <li>
          <a (click)="navigateToAssets()" class="btn">Laptop</a>
        </li>
      </ul>
    </li>
    <li>
      <a (click)="navigateToLogin()" class="btn">LOGOUT</a>
    </li>
  </ul>
</div>
