/* Sidebar */
.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #f7f7f7;
  padding-top: 20px;
  position: fixed; /* Fix the sidebar to the left side of the screen */
  left: -250px; /* Hide the sidebar initially */
  top: 0;
  transition: left 0.3s ease-in-out; /* Smooth sliding effect */
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000; /* Higher z-index to stay above main content */
}

.sidebar.open {
  left: 0;
}

.sidebar-header {
  text-align: center;
  padding-bottom: 2px;
}

.company-icon {
  max-width: 100px;
  height: auto;
  margin-right: auto;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

.sidebar ul li {
  width: 100%;
}

.sidebar ul li a {
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: background 0.3s;
}

.sidebar ul li a:hover {
  background: #ddd;
}

/* Dropdown Menu */
.dropdown-menu {
  display: none;
  list-style: none;
  padding-left: 20px;
  background: #e0e0e0;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* Main Content Shift */
#main-content {
  transition: margin-left 0.3s ease-in-out;
}

.sidebar.open + #main-content {
  margin-left: 250px;
}

.sidebar:not(.open) + #main-content {
  margin-left: 0;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 28px;
  cursor: pointer;
  background: none;
  border: none;
  padding: 5px;
}
.btn {
  width: 250px;
  height: 50px;
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-top: 10px;
}
.bolbi {
  display: flex;
  gap: 1rem;
  width: 20%;
  font-size: medium;
  align-items: center;
  font-style: bold;
}
