<main id="main-content">
  <section class="table-add-laptop">
    <div class="parent-container">
      <div class="dashboard-card">
        <div class="toolbar">
          <button id="open-modal" class="add-button" (click)="openModal()">
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="add_circle"
            ></mat-icon>
            <p>Add New Laptop</p>
          </button>
          <div class="search-container">
            <input
              matInput
              type="text"
              placeholder="Search..."
              class="search-input"
              [(ngModel)]="searchKeyword"
            />
            <button class="search-btn" (click)="onSearch()">
              <mat-icon
                class="search-btn"
                aria-hidden="false"
                aria-label="Example home icon"
                fontIcon="search"
              ></mat-icon>
            </button>
          </div>
        </div>
        <div class="table-container">
          <table mat-table class="mat-elevation-z8" [dataSource] = "laptops">
            <!-- Name Column -->
            <ng-container matColumnDef="laptopName">
              <th mat-header-cell *matHeaderCellDef>Laptop Name</th>
              <td mat-cell *matCellDef="let laptop">{{ laptop.laptopName }}</td>
            </ng-container>
        
            <!-- Serial Number Column -->
            <ng-container matColumnDef="laptopSerialNumber">
              <th mat-header-cell *matHeaderCellDef>Serial Number</th>
              <td mat-cell *matCellDef="let laptop">{{ laptop.laptopSerialNumber }}</td>
            </ng-container>
        
            <!-- Description Column -->
            <ng-container matColumnDef="laptopDescription">
              <th mat-header-cell *matHeaderCellDef>Description</th>
              <td mat-cell *matCellDef="let laptop">{{ laptop.laptopDescription }}</td>
            </ng-container>
        
            <!-- Purchased Date Column -->
            <ng-container matColumnDef="laptopPurchaseDate">
              <th mat-header-cell *matHeaderCellDef>Purchased Date</th>
              <td mat-cell *matCellDef="let laptop">
                {{ laptop.laptopPurchaseDate }}
              </td>
            </ng-container>
        
            <!-- Location Column -->
            <ng-container matColumnDef="laptopLocation">
              <th mat-header-cell *matHeaderCellDef>Location</th>
              <td mat-cell *matCellDef="let laptop">{{ laptop.laptopLocation }}</td>
            </ng-container>
        
            <!-- Assigned To Column -->
            <ng-container matColumnDef="assignedTo">
              <th mat-header-cell *matHeaderCellDef>Assigned To</th>
              <td mat-cell *matCellDef="let laptop">{{ getEmployeeName(laptop.assignedTo) }}</td>
            </ng-container>
        
            <!-- Condition Column -->
            <ng-container matColumnDef="laptopCondition">
              <th mat-header-cell *matHeaderCellDef>Condition</th>
              <td mat-cell *matCellDef="let laptop">{{ laptop.laptopCondition }}</td>
            </ng-container>
        
            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>Actions</th>
              <td mat-cell *matCellDef="let laptop">
                <button mat-button color="primary" (click)="openModal()">Edit</button>
              </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
        
      </div>
    </div>
  </section>
  <app-modal *ngIf="isModalOpen" (closeModalEvent)="closeModal()"></app-modal>
</main>
