<!-- <main class="user-management">
    <div class="search-container">
      <input
        matInput
        type="text"
        placeholder="Search..."
        class="search-input"
        [(ngModel)]="searchKeyword"
      />
      <button class="search-btn" (click)="onSearch()">
        <mat-icon class="search-btn" fontIcon="search"></mat-icon>
      </button>
    </div>
  
    <div class="table-container">
      <table mat-table class="mat-elevation-z8" [dataSource]="employees">
        
        <ng-container matColumnDef="Employee">
          <th mat-header-cell *matHeaderCellDef>Employee</th>
          <td mat-cell *matCellDef="let employee">{{ employee.name }}</td>
        </ng-container>
  
        <ng-container matColumnDef="Employment Date">
          <th mat-header-cell *matHeaderCellDef>Employment Date</th>
          <td mat-cell *matCellDef="let employee">{{ employee.employmentDate }}</td>
        </ng-container>
  
        <ng-container matColumnDef="Email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let employee">{{ employee.email }}</td>
        </ng-container>
  
        <ng-container matColumnDef="Contact">
          <th mat-header-cell *matHeaderCellDef>Contact</th>
          <td mat-cell *matCellDef="let employee">{{ employee.contact }}</td>
        </ng-container>
  
        <ng-container matColumnDef="Position">
          <th mat-header-cell *matHeaderCellDef>Position</th>
          <td mat-cell *matCellDef="let employee">{{ employee.position }}</td>
        </ng-container>
  
        <ng-container matColumnDef="Address">
          <th mat-header-cell *matHeaderCellDef>Address</th>
          <td mat-cell *matCellDef="let employee">{{ employee.address }}</td>
        </ng-container>
  
        <ng-container matColumnDef="Team Color">
          <th mat-header-cell *matHeaderCellDef>Team Color</th>
          <td mat-cell *matCellDef="let employee">{{ employee.teamColor }}</td>
        </ng-container>
  
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let employee">
            <button mat-button color="primary" (click)="openModal()">Edit</button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  
    <app-modal *ngIf="isModalOpen" (closeModalEvent)="closeModal()"></app-modal>
  </main>
   -->