<div class="modal" *ngIf="isEditModalOpen">
  <div class="modal-content">
    <span class="close-btn" (click)="closeModal()">×</span>
    <h2>
      {{
        selectedEmployee.EmployeeName ? "Edit Employee Details" : " Employee Details"
      }}
    </h2>

    <form [formGroup]="editEmployeeForm" (ngSubmit)="onSubmit()">
      <div class="form-grid">
        <div class="form-group">
          <label for="EmployeeName">Employee Name</label>
          <input
            id="EmployeeName"
            formControlName="EmployeeName"
            placeholder="Enter Name"
            aria-label="employee Name"
          />
        </div>

        <div class="form-group">
          <label for="EmploymentDate">Employment Date</label>
          <input
            type="date"
            id="EmploymentDate"
            formControlName="employmentDate"
            aria-label="Employment Date"
          />
        </div>
        <div class="form-group">
          <label for="E">Email</label>
          <input
            id="EmployeeEmail"
            formControlName="email"
            placeholder="Enter Email"
            aria-label="employee Email"
          />
        </div>

        <div class="form-group">
          <label for="contact">Contact</label>
          <input
            id="contact"
            formControlName="contact"
            placeholder="Enter Contact"
            aria-label="employee Contact"
          />
        </div>
        <div class="form-group">
          <label for="position">Position</label>
          <select
            id="position"
            formControlName="position"
            aria-label="employee Position"
          >
            <option>Manager</option>
            <option>Developer</option>
            <option>Designer</option>
            <option>Tester</option>
          </select>
        </div>

        <div class="form-group">
          <label for="address">Address</label>
          <select
            id="address"
            formControlName="address"
            aria-label="employee Address"
          >
            <option *ngFor="let employee of employees" [value]="employee._id">
              {{ employee.employeeName }}
            </option>
            <option value="add">Add New Employee</option>
          </select>
        </div>

        <div class="form-group">
          <label for="position">position</label>
          <select
            id="position"
            formControlName="position"
            aria-label="employee Position"
          >
            <option>Green Team</option>
            <option>Blue Team</option>
          </select>
        </div>
      </div>

      <div class="button-group">
        <button type="button" class="cancel-btn" (click)="closeModal()">
          Cancel
        </button>
        <button type="submit" [disabled]="editEmployeeForm.invalid">
          Save
        </button>
      </div>
    </form>
  </div>
</div>
