<div class="modal" *ngIf="isModalOpen">
  <div class="modal-content">
    <span class="close-btn" (click)="closeModal()">×</span>
    <h2>Laptop Details</h2>
    <form [formGroup]="editLaptopForm" (ngSubmit)="onSubmit()">
      <div class="form-grid">
        <div class="form-group">
          <label for="laptopName">Device Name</label>
          <input
            id="laptopName"
            formControlName="laptopName"
            placeholder="Enter Device Name"
          />
        </div>
        <div class="form-group">
          <label for="laptopSerialNumber">Serial Number</label>
          <input
            id="laptopSerialNumber"
            formControlName="laptopSerialNumber"
            placeholder="Enter Device Serial"
          />
        </div>
        <div class="form-group">
          <label for="laptopDescription">Description</label>
          <input
            id="laptopDescription"
            formControlName="laptopDescription"
            placeholder="Description"
          />
        </div>
        <div class="form-group">
          <label for="laptopPurchaseDate">Purchase Date</label>
          <input title="PD" type="date" id="laptopPurchaseDate" formControlName="laptopPurchaseDate" />
        </div>
        <div class="form-group">
          <label for="laptopLocation">Location</label>
          <select title="LL" id="laptopLocation" formControlName="laptopLocation">
            <option>1NK Center</option>
            <option>New Office</option>
            <option>Warehouse</option>
          </select>
        </div>
        <div class="form-group">
          <label for="assignedTo">Assigned Personnel</label>
          <select title="AT"
            id="assignedTo"
            formControlName="assignedTo"
            (change)="onAssignedChange($event)"
            [(ngModel)]="selectedEmployeeId"
          >
            <option *ngFor="let employee of employees" [value]="employee._id">
              {{ employee.employeeName }}
            </option>
            <option value="add">Add employee</option>
          </select>
        </div>
        <div class="form-group">
          <label for="laptopCondition">Condition</label>
          <select title = "LC" id="laptopCondition" formControlName="laptopCondition">
            <option>Brand New</option>
            <option>Used</option>
          </select>
        </div>
      </div>
      <div class="button-group">
        <button type="button" class="cancel-btn" (click)="closeModal()">
          Cancel
        </button>
        <button type="submit" [disabled]="editLaptopForm.invalid">Add</button>
      </div>
    </form>
  </div>
</div>

<!-- <div class="modal" *ngIf="isAddEmployeeOpen">
  <div class="modal-content">
    <h2>Add Employee</h2>
    <form >
      <div class="form-group">
        <label for="employeeName">Employee Name</label>
        <input
          id="employeeName"
          [(ngModel)]="newEmployee"
          placeholder="Enter Employee Name"
          name="employeeName"
          required
        />
      </div>
      <div class="button-group">
        <button
          type="button"
          class="cancel-btn"
          (click)="closeAddEmployeeModal()"
        >
          Cancel
        </button>
        <button type="submit">Save</button>
      </div>
    </form>
  </div>
</div> -->
