<div class="modal" *ngIf="isModalOpen">
    <div class="modal-content">
      <span class="close-btn" (click)="closeModal()">×</span>
      <h2>Add Employee</h2>
      <form [formGroup]="editEmployeeForm" (ngSubmit)="onSubmit()">
        <div class="form-grid">
          <div class="form-group">
            <label for="employeeName"> Employee name</label>
            <input
              id="employeeName"
              formControlName="employeeName"
              placeholder="Enter Employee Name"
            />
          </div>
          <div class="form-group">
            <label for="EmployeeEmail">Email</label>
            <input
              id="employeeEmail"
              formControlName="employeeEmail"
              placeholder="Enter Email"
            />
          </div>
          <div class="form-group">
            <label for="EmploymentDate">Employment Date</label>
            <input title="PD" type="date" id="EmploymentDate" formControlName="EmploymentDate" />
          </div>
          <div class="form-group">
            <label for="contact">Contact</label>
            <input
              type="number"
              id="contact"
              formControlName="contact"
             placeholder="Contact Number"
            />
        </div>
       
          <div class="form-group">
            <label for="Position">Position</label>
            <select title="LL" id="position" formControlName="position">
              <option>Secured Front-End Developer</option>
              <option>chix</option>
              <option>silog</option>
            </select>
          </div>
          <div class="form-group">
            <label for="assignedTo">Address</label>
            <input title="AT"
              id="Address"
              formControlName="Address"
              (change)="onAssignedChange($event)"
              [(ngModel)]="selectedEmployeeId"
            >
          </div>
          <div class="form-group">
            <label for="Position">Team Color</label>
            <select title = "LC" id="Position" formControlName="Position">
              <option>Green Team</option>
              <option>Red Team</option>
            </select>
          </div>
        </div>
        <div class="button-group">
          <button type="button" class="cancel-btn" (click)="closeModal()">
            Cancel
          </button>
          <button type="submit" [disabled]="editEmployeeForm.invalid">Add</button>
        </div>
      </form>
    </div>
  </div>
  
  